
<html>
<head>
<title>Emillie</title>
<link href="style.css" rel="stylesheet" >
</head>
<body>
<h1>Hello Emillie</h1>
<h2>Written by Dad</h2>
<h3>Smaller text</h3>
<p>This is a paragraph of text, fkwjnkjweh lkewh lkfuhwe lkfjhe lkdjhf lewkjah fpewhd flkeqhao fehqoaksf qlekjahflkqeha lfkeqjh lfjhqe klajshrlq3kuwhf lk23jeqgh fh qepofh 32lieqkhf o3iqehfoekjqh flk3jqeh lkfqu3 e</p>

<ol>
<li>Part 1</li>
<li>Another item</li>
</ol>

<img src="http://c2.staticflickr.com/6/5791/22200372956_3650db3287_m.jpg" width="500" />

<table>
<tr>
<th>Heading 1</th>
<th>Heading 2</th>
</tr>
<tr>
<td>Something</td>
<td>Something else</td>
</tr>
</table>


</body>
</html>